body {
  margin: 0;
  background: #111;
  color: white;
  font-family: monospace;
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  background: #222;
}

#ui {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

button {
  padding: 10px;
  margin: 3px;
  background: #333;
  color: white;
  border: 1px solid #555;
}

/* JOYSTICK */
#joystick {
  position: fixed;
  bottom: 80px;
  left: 40px;
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  touch-action: none;
}

#stick {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  position: absolute;
  left: 35px;
  top: 35px;
}
