body {
    background: transparent;
    color: white;
    font-family: monospace;
}
#game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: auto;
    border: 2px solid #fff;
    overflow: hidden;
}
#player, #enemy {
    position: absolute;
    width: 128px;
    height: 128px;
    background-size: cover;
}
#player {
    left: 50px;
    bottom: 50px;
    background-image: url('assets/player_spritesheet.png');
}
#enemy {
    right: 50px;
    bottom: 50px;
}
#log {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 580px;
    height: 120px;
    overflow-y: auto;
    background: rgba(0,0,0,0.5);
    padding: 5px;
}
#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    padding: 5px;
}
#buttons {
    position: absolute;
    top: 200px;
    left: 200px;
}
button {
    margin: 3px;
}
