body {
    margin:0;
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
    font-family: Arial, sans-serif;
    color: white;
}

canvas {
    border: 3px solid white;
    background:#222;
}
